body{
margin:0;
font-family:Arial;
background:#0a0f1c;
color:white;
}

header{
text-align:center;
padding:20px;
}

.container{
padding:15px;
}

textarea, select{
width:100%;
padding:10px;
margin-top:10px;
border-radius:10px;
border:none;
}

button{
width:100%;
padding:12px;
margin-top:10px;
border-radius:10px;
border:none;
background:gold;
font-weight:bold;
}

.bg-buttons, .templates{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-top:10px;
}

.bg-buttons button, .templates button{
background:#1d2b3a;
color:white;
}

#designArea{
margin-top:20px;
height:500px;
border-radius:15px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background-size:cover;
background-position:center;
transition:0.5s;
box-shadow:0 10px 30px rgba(0,0,0,0.6);
}

#designText{
font-size:30px;
font-weight:bold;
text-shadow:2px 2px 10px black;
}

.glow{
text-shadow:0 0 10px #fff, 0 0 20px #00f;
}

.gold{
color:gold;
text-shadow:2px 2px 10px black;
}

.shadow{
text-shadow:5px 5px 10px black;
}

#signature{
margin-top:20px;
font-size:12px;
letter-spacing:3px;
opacity:0.9;
}
